@media screen and (max-width: 1199px) {
    header {
        height: auto;
    }
  
    .logo img {
        width: 100%;
    }
    
}
@media screen and (max-width: 1023px) {
    .logo img {
        width: 100%;
    }
    
}

@media screen and (max-width: 991px) {
    header {
        height: auto;
        padding-bottom: 20px;
    }
    .phone {
        text-align: center;
    }
    .main-menu {
        display: none;
    }
    .mobile-menu {
        display: block;
    }
    .logo img {
        width: auto;
    }
    .form-asking {
        width: 70% !important;
    }
    .secondary-menu {
        display: none;
    }
    .prev,
    .next {
        opacity: 1 !important;
    }
    .dnevnik img {
        position: absolute;
        width: 5%;
        top: -200px;
        right: 20px;
    }
    .footer-menu ul {
        flex-direction: column;
        position: relative;
        top: -100px;
    }
    .footer-menu ul li {
        flex-direction: column;
        position: relative;
        top: 20px;
        padding: 10px 0;
    }
    
}

@media screen and (max-width: 767px) {
    header {
        height: auto;
        padding-bottom: 20px;
    }
    .phone {
        text-align: center;
    }
    .main-menu {
        display: none;
    }
    .mobile-menu {
        display: block;
    }
    .mobile-menu .menu {
        flex-direction: column;
    }
    .mobile-menu .menu li {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mobile-menu .menu li a {
        flex-direction: column;
        width: 100%;
    }
    .mobile-menu .menu li:last-child {
        position: unset;
    }
    .mobile-menu .menu li .bad-see {
        width: 100%;
    }
    .form-asking {
        width: 80% !important;
    }
    .close-ask-form {
        right: 5%;
    }
    .bottom-footer {
        display: none;
    }
}

