
.posts {
    column-count:2;
    overflow: hidden;
    padding-bottom: 30px;
}
.post {
    break-inside: avoid;
    position: relative;
    overflow: hidden;
}
.post h2 {
    font-size: 24px;
}
.next-posts,
.prev-posts {
    margin-top: 20px;
}
.next-posts a,
.prev-posts a {
    text-decoration: none;
    color: #fff;
    background: #21c795;
    padding: 10px;
    display: block;
    width: 300px;
    text-align: center;
    font-weight: bold;
}
.single {
    column-count:1 !important;
}
.single h1 {
    font-weight: bold;
    font-size: 36px;
    color: #202020;
}
.post-footer {
    display: flex;
    justify-content: space-between;
}
.post-categories {
    display: flex;
}
.post-categories li {
    padding-right: 10px;
}
.post-categories a {
    text-decoration: none;
    color: #21c795;
    transition: 0.2s ease-in-out;
    font-weight: bold;
}
.post-categories a:hover {
    color: #0c664b;
}
.slider img {
    height: auto;
}
.pagination a {
    background: #21c795;
    padding:8px 15px;
    color: #fff;
    text-decoration: none;
}
.pagination i {
    font-size: 12px;
}
.not-found {
    width: 100%;
    height: auto;
    margin-top: 30px;
}
.secondary-menu li {
    position: relative;
}
.secondary-menu i {
    position: absolute;
    top: 15px;
    right: 20px;
    transition: 0.2s ease-in-out;
}
.secondary-menu li:hover i {
    color: #fff;
}
.logo a:focus {
    outline: transparent;
}
.logo a:visited {
    outline: transparent;
}
.textwidget {
    padding: 20px;
}
.textwidget p {
    margin-bottom: 0;
}
.textwidget a {
    color: #21c795;
    text-decoration: none;
    font-weight: bold;
}
.calendar_wrap {
    padding: 20px;
}
.wp-calendar-table {
    width: 100%;
}
.wp-calendar-table a{
    color: #21c795;
    text-decoration: none;
    font-weight: bold;
}
.bvi-open {
    width: 250px !important;
    border-radius: 0 !important;
    padding: 7px 0 !important;
}